VITE_API_BASE_URL=https://api.carred.carlab.top
VITE_APP_NAME=CarRed
VITE_SUPABASE_URL=https://carlab-supabase-proxy.washedyirgacheffe.workers.dev
VITE_SUPABASE_ANON_KEY=sb_publishable_BeabupBYe71SsdB6cNhwwQ_0ehrLpAQ
